
// containers sizes


.main-info__container {
  width: 100%;
  margin: auto;
  font-family: myriad pro;
}

.sub__info-container {
  max-width: $max-content-width;
  margin: auto;
}

.info-container {
  display: flex;
  flex-wrap: wrap;

}

// logo starts here

.logo {
  position: relative;
  max-width: 9rem;
  margin: auto;
  margin-bottom: $gutter;

  &-image {
    width: 100%;
    border-radius: 70%;
  }

  &-text {
    position: absolute;
    right: 15%;
    bottom: -20%;
  }
}

.triangle-icon {
  position: absolute;
  top: 0.5rem;
  right: 3.5rem;
  color: $brand-red;
  font-size: 2rem;
  line-height: 3rem;
}

.logo-image {
  border-radius: 50%;
}


//main-content area
