
// containers sizes


.main-info__container {
  width: 75%;
  margin: auto;
  // font-family: myriad pro;
}

.sub__info-container {
  max-width: 50rem;
  margin: auto;
}

.info-container {
  display: flex;
  flex-wrap: wrap;
}


// logo starts here

.logo {
  position: relative;
  max-width: 6rem;
  margin: auto;
  margin-bottom: $gutter;
}

.logo-image {
  @extend %willow;

  width: 100%;
  border-radius: 70%;
  overflow: hidden;
  filter: grayscale(0.5) contrast(0.95) brightness(0.7);


  &__pic {
    width: 100%;
  }
}

.logo-text {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
}

.triangle-icon {
  position: absolute;
  top: -8px;
  right: 2rem;
  color: $brand-red;
  font-size: 2rem;
  line-height: 3rem;
}





//main-content area
