@media (max-width: 700px) {
  .author-profile, .camera__specs {
    flex-basis: 80%;
    margin: 0 10%;
  }

  .navbar-right {
    &__item {
      display: none;

      &--mobile-only {
        display: block;
      }
    }
  }
}
