// @import 'yoga';
// @import 'normalize';

@import 'cssgramfilters';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';
@import 'variables';
@import 'base';
@import 'navbar';
@import 'main-content';
@import 'footer';




.author-profile {
  flex-basis: 50%;
  flex-grow: 1;
  margin-left: 10rem;

  &__image {
    width: 100%;
 }
}

.author-info {
  display: flex;
  align-items: baseline;
}

.author-name {
  margin: 0 0 3rem;
  color: $brand-lighter-grey;
  font-weight: bolder;
}

.author-date {
  margin: 1rem;
  color: $brand-light-gray;
  font-size: 0.7rem;
  // font-weight: bolder;
}






.camera__specs {
  // display: flex;
  color: $brand-white;
  font-family: myriad pro;
  font-size: 0.9rem;
}

.camera__specs-list__info {
  padding: 0.1rem;
  color: $brand-lighter-grey;
  font-weight: lighter;
}

.camera__specs-items {
  padding: 0 0.8rem;

}
